[Unit]
Description=mesos-master
After=zookeeper.service
Requires=zookeeper.service

[Service]
#  the type can be:
#      forking – the startup program will fork a subprocess
#      normal  -- the startup program is a long running service,
#                 so systemd will fork a subprocess for this service
#      oneshot – the service will run and exit
#
Type=normal
#   define environment variables used in startup program
#EnvironmentFile=-/etc/sysconfig/foobar

UMask=0002


#  command line variable ${FOO1} will use /etc/sysconfig/foobar
#    ${FOO1} and ${FOO2} are also visible inside /root/foobar.sh
ExecStart={{ nix_bin }}/mesos-master \
  --ip={{ mesos_master_bind_ip | default('127.0.0.1') }} \
  --work_dir={{ mesos_master_datadir }} \
  --quorum={{ mesos_master_quorum }} \
  --log_dir={{ mesos_master_logdir }}

User={{ nix_user }}
Group={{ nix_group }}

Restart=Always
[Install]
WantedBy=multi-user.target
