<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>Zookeeper</short>
  <description>Zookeeper</description>
  <port protocol="tcp" port="2181"/>
  <port protocol="tcp" port="2888"/>
  <port protocol="tcp" port="3888"/>
</service>
